[Unit]
Description=flannel system service
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/opt/flannel/flannel -etcd-endpoints http://192.168.59.101:2379 -iface eth1
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
